.small {
    font-size: 36px;
    max-width: 36px;
}

.medium {
    font-size: 72px;
    max-width: 72px;
}

.large {
    font-size: 144px;
    max-width: 144px;
}

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}